.nav-link {
  background-color: #343a40;
  margin-top: -25px;
}

span:hover {
  color: white;
}

#root > div.wrapper.container > div > a:hover {
  color: white;
}

footer {
  background-color: #343a40;
  margin-top: -20px;
  padding: 10px;
}